/*
=============== 
Variables
===============
*/

html,
body {
  height: 100%;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/*
=============== 
Stripe Styles
===============
*/

/* 
====== 
Navbar
======
*/

.nav-mail-id a,
.nav-number {
  color: white;
  font-weight: 550;
  font-size: 0.9rem;
}
.navbar {
  color: white;
  background: #40476d;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 12rem;
  padding-bottom: 1.5rem;
}

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  position: relative;
  z-index: 1;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-grey-5);
}
.nav-links {
  display: none;
}
.signin-btn {
  display: none;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(./images/bg_image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
}
.hero-images {
  display: none;
}

/* nav media query */
@media screen and (min-width: 800px) {
  .contactcard {
    width: 20vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  .nav-mail-id a,
  .nav-number {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
  .navbar {
    color: white;
    background: #40476d;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }
  .nav-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links a {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  .logo {
    width: 12rem;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }

  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 9rem;
  }
}

/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
  .phone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background-image: url(./images/spotted_blue.jpg);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
  justify-content: center;
  display: flex;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.movedown {
  margin-top: 7vh;
}

.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

/* links */
.submenu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/* section */
.section {
  width: 100vw;
  max-width: var(--max-width);
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.fill {
  width: 80%;
  height: 80%;
}

.section_header {
  margin-bottom: 45px;
  font-size: 36px;
  position: relative;
  word-wrap: break-word;
  line-height: 0.95;
  text-transform: uppercase;
  font-weight: 900;
}
.section_header.small,
.section_header .small {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  font-weight: 300;
  font-size: 24px;
}
.highlight {
  color: #4b619b;
  border-color: #4b619b;
}

.text-center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.widget {
  color: #fff;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}

table {
  background-color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: white;
}

.footer {
  background-color: #40476d;
}

.text-center-footer {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.section_header {
  margin-bottom: 45px;
  font-size: 36px;
  position: relative;
  word-wrap: break-word;
  line-height: 0.95;
  text-transform: uppercase;
  font-weight: 900;
}

.teaser {
  position: relative;
  overflow: visible;
}
.teaser.media {
  margin-top: 45px;
}

.aboutdiv {
  background-color: white;
  color: #16323c;
}

.media-left,
.media > .pull-left {
  padding-right: 20px;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.teaser_icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
}
.size_small {
  font-size: 28px;
}

.response,
.highlight {
  color: #4b619b;
  border-color: #4b619b;
}

.highlightdark {
  color: #002632;
  border-color: #002632;
}

.highlight3 {
  color: #82cc33;
  border-color: #82cc33;
}

.highlight2 {
  color: #d1c500;
  border-color: #d1c500;
}

.highlight {
  color: #50a2d4;
  border-color: #50a2d4;
}
.highlight4 {
  color: #fd5e60;
  border-color: #fd5e60;
}
.highlight5 {
  color: #fd6420;
  border-color: #fd6420;
}

.about-text {
  color: #002632;
}

.ls {
  background-color: #ffffff;
  color: #818181;
}

.hidden {
  display: none !important;
}

.form-error-message {
  color: red;
}

/* contact forms */
.contact-form {
  position: relative;
  z-index: 3;
}

.contact-form.ls {
  background-color: #fafafa;
}

.contact-form.ls.ms {
  background-color: #efefef;
}

.contact-form label[for] {
  display: none;
}

.contact-form-message textarea {
  min-height: 170px;
}

@media (min-width: 1200px) {
  .contact-form-message textarea {
    min-height: 200px;
  }
}

.contact-form-respond {
  display: block;
  font-weight: 800;
}

.form-error-message {
  color: red;
}

.contact-form-respond:before {
  font-family: "rt-icons-2";
  content: "\e71a";
  padding-right: 10px;
}

.contact-form p {
  margin-bottom: 10px;
  position: relative;
}

.contact-form-submit .theme_button {
  margin-right: 6px;
}

.contact-form.transparent-background .form-control {
  background-color: transparent;
}

.contact-email {
  font-size: 40px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .contact-email {
    font-size: 20px;
    margin-bottom: 6px;
  }
}

.wrap-forms .form-group {
  margin: 0;
}

.wrap-forms .form-group p {
  margin: 10px 0 0;
}

.wrap-forms .form-group textarea {
  min-height: 150px;
}

.has-placeholder label {
  display: none;
}

#messages_modal .fw-messages-wrap {
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -150px;
  width: 300px;
}

#messages_modal ul {
  margin-bottom: 0;
}

.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}

.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
}
.largePadding {
  padding-left: 5px;
}

.ErrorDiv {
  height: 90vh;
}
.moveright {
  padding-left: 30vw;
}
.bigbtn {
  width: 20vh;
  height: 8vh;
  font-size: 2rem;
  background-color: #40476d;
}

.errormsgcolor {
  color: #50a2d4;
  font-size: 3.5rem;
  padding-top: 20vh;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
  .fill {
    width: 90%;
    height: 90%;
  }
  .text-center {
    padding: 150px;
  }
  .section_header.small,
  .section_header .small {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    font-weight: 400;
    font-size: 30px;
  }
  .footer {
    height: 350px;
    text-align: center;
  }

  .text-center-footer {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .largePadding {
    padding-left: 150px;
  }
  .errormsgcolor {
    color: #50a2d4;
    font-size: 3.5rem;
    padding-top: 20vh;
    padding-left: 10vh;
  }
  .moveright {
    padding-left: 40vw;
  }
}
